.ngx-datatable.forecast {
  box-shadow: none;
  background: #ffc409;
  border: 1px solid #2f3646;
  color: #000;
  font-size: 11px;
}
.ngx-datatable.forecast .datatable-header {
  background: #e0ac08;
  color: #14171f;
}
.ngx-datatable.forecast .datatable-header .datatable-header-cell {
  text-align: left;
  padding: 0.5rem 1.2rem;
  font-weight: bold;
}
.ngx-datatable.forecast .datatable-header .datatable-header-cell .datatable-header-cell-label {
  line-height: 24px;
}
.ngx-datatable.forecast .datatable-body {
  background: #ffc409;
  height: 451px !important; }
.ngx-datatable.forecast .datatable-body .datatable-body-row {
  border-top: 1px solid #2f3646; }
.ngx-datatable.forecast .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  padding: 0.5rem 1.2rem;
  vertical-align: top; }
.ngx-datatable.forecast .datatable-body .datatable-body-row:hover {
  background: #5e6574;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: linear; }
.ngx-datatable.forecast .datatable-body .datatable-body-row:focus {
  background-color: #232837; }
.ngx-datatable.forecast .datatable-body .datatable-body-row.active {
  background-color: #1483ff;
  color: #14171f;
}
.ngx-datatable.forecast .datatable-footer {
  background: #e0ac08;
  color: #000;
  margin-top: -1px; }
.ngx-datatable.forecast .datatable-footer .page-count {
  line-height: 50px;
  height: 50px;
  padding: 0 1.2rem; }
.ngx-datatable.forecast .datatable-footer .datatable-pager {
  margin: 0 10px;
  vertical-align: top; }
.ngx-datatable.forecast .datatable-footer .datatable-pager ul li {
  margin: 10px 0px; }
  .ngx-datatable.forecast .datatable-footer .datatable-pager ul li:not(.disabled).active a,
  .ngx-datatable.forecast .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
    background-color: #455066;
    font-weight: bold; }
.ngx-datatable.forecast .datatable-footer .datatable-pager a {
  height: 22px;
  min-width: 24px;
  line-height: 22px;
  padding: 0;
  border-radius: 3px;
  margin: 0 3px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  vertical-align: bottom;
  color: #fff;
}
.ngx-datatable.forecast .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.forecast .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.forecast .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.forecast .datatable-footer .datatable-pager .datatable-icon-prev {
  font-size: 18px;
  line-height: 27px;
  padding: 0 3px;
}
.ngx-datatable.forecast .datatable-summary-row .datatable-body-row {
  background-color: #14171f; }
.ngx-datatable.forecast .datatable-summary-row .datatable-body-row:hover {
  background-color: #14171f; }
.ngx-datatable.forecast .datatable-summary-row .datatable-body-row .datatable-body-cell {
  font-weight: bold;
}
