<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons shape="round" size="small" slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button shape="round" size="small" slot="end" (click)="createSaving()">
      <ion-icon color="light" slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
    <ion-title ion-text-center>Savings Accounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <div style="vertical-align: top">
    <swiper-container *ngFor="let saving of savingsList">
      <swiper-slide>
      <ion-card>
        <ion-card-header color="secondary"></ion-card-header>
        <ion-card-content class="ion-padding" color="light">
          <ion-list>
            <ion-item>
              <ion-button color="warning" shape="round" size="small" slot="end" (click)="openMenu(saving?.id)">
                <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
              </ion-button>
              <ion-label>
                <h2>{{saving?.name}} Summary</h2>
                Initial Investment: <strong>{{saving.initialcash | currency:"GBP"}}</strong><br />
                Annual Interest: <strong>{{saving.annualinterest | currency:"GBP"}}</strong><br />
                Balance: <strong>{{saving.balance | currency:"GBP"}}</strong><br />
                Notes: <strong>{{saving.notes}}</strong><br /><br />
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card>
        <ion-card-header color="secondary"></ion-card-header>
        <ion-card-content class="ion-padding" color="light">
          <ion-list>
            <ion-item>
              <ion-button color="warning" shape="round" size="small" slot="end" (click)="openMenu(saving?.id)">
                <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
              </ion-button>
              <ion-label>
                <h2>{{saving?.name}} Detail</h2>
                Creation Date: <strong>{{saving.date | date}}</strong><br />
                Account Number: <strong>{{saving.number}}</strong><br />
                Online ID: <strong>{{saving.online}}</strong><br />
                Interest Rate: <strong>{{saving.interest / 100 | percent:"1.2"}}</strong><br />
                Interest Frequency: <strong>{{saving.frequency}}</strong>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card>
        <ion-card-header color="secondary"></ion-card-header>
        <ion-card-content class="ion-padding" color="light">
          <ion-list>
            <ion-item>
              <ion-button color="warning" shape="round" size="small" slot="end" (click)="openMenu(saving?.id)">
                <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
              </ion-button>
              <ion-label>
                <h2>{{saving?.name}} Security</h2>
                Password Hint: <strong>{{saving.passwordhint}}</strong><br />
                Memorable Place Hint: <strong>{{saving.memorableplace}}</strong><br />
                Memorable Name Hint: <strong>{{saving.memorablename}}</strong><br />
                Memorable Date Hint: <strong>{{saving.memorabledate}}</strong><br /><br />
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>
  <ion-card>
    <ion-card-header color="secondary"> Savings Summary</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            Balances: <strong>{{savingBalances | currency:"GBP"}}</strong>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Incomes: <strong>{{savingIncomes | currency:"GBP"}}</strong>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
