// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #d64542;
  --ion-color-primary-rgb: 214,69,66;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #bc3d3a;
  --ion-color-primary-tint: #da5855;

  --ion-color-secondary: #0097be;
  --ion-color-secondary-rgb: 0,151,190;
  --ion-color-secondary-contrast: #20282f;
  --ion-color-secondary-contrast-rgb: 32,40,47;
  --ion-color-secondary-shade: #0085a7;
  --ion-color-secondary-tint: #1aa1c5;

  --ion-color-tertiary: #1c428a;
  --ion-color-tertiary-rgb: 28,66,138;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #193a79;
  --ion-color-tertiary-tint: #335596;

  --ion-color-success: #78be20;
  --ion-color-success-rgb: 120,190,32;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #6aa71c;
  --ion-color-success-tint: #86c536;

  --ion-color-warning: #e67200;
  --ion-color-warning-rgb: 230,114,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #ca6400;
  --ion-color-warning-tint: #e9801a;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #20282f;
  --ion-color-dark-rgb: 32,40,47;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1c2329;
  --ion-color-dark-tint: #363e44;

  --ion-color-medium: #6d86a0;
  --ion-color-medium-rgb: 109,134,160;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #60768d;
  --ion-color-medium-tint: #7c92aa;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

//  --ion-font-family: 'Nunito-SemiBold', cursive;
  --ion-font-family: 'Nunito-Regular', cursive;

  ion-icon {
  --ionicon-stroke-width: 16px;
  }

  ion-slides {
    width: 100% !important;
    .swiper-pagination-bullet-active {
      background: var(--ion-color-warning);
      opacity: 1;
    }
  }

  ion-grid{
    margin-bottom: 10px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    width: 100% !important;
  }

  ion-list{
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
  }

  ion-card{
    margin-bottom: 10px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    width: 100% !important;
  }

  ion-card-header{
    text-align: left;
    font-weight: bold;
  }

  ion-card-content{
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    width: 100% !important;
  }

  ion-item{
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 0.7rem;
  }

  ion-label{
    font-size: 0.7rem !important;
  }

  ion-range{
    font-size: 0.7rem !important;
  }

  ion-title{
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 0.9rem;
    font-weight: bold;
  //@error  font-family: 'Nunito-Regular', cursive;
  }

  p{
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 0.7rem;
  }
  hr{ 
    height: 1px;
    color: #E67200;
    background-color: #E67200;
    border: none;
  }

  #menubutton {
  border-radius: 30px;
  height: 60px;
  width: 60px;
  align-content: center;
  }

  #menutext {
  font-size: 0.7em;
  text-align: center;
  }
}