<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/savings/saving-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Transaction To {{savingName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <ion-content class="ion-padding" color="light">
    <app-transaction-form  #transactionForm (formSubmitted)="createSavingTransaction($event)" [actionButtonText]="'Create Transaction'"
    [actionDropdowns]=typeDropdowns></app-transaction-form>
  </ion-content>
</ion-content>
 